/*  === COLORS === */
:root {
  --bodybg: #ebebeb;
  --textcolor: #2a2a2a;
  --linkcolor: #212d78;
  --linkhovercolor: #da6f39;
  --blue: #212d78;
  --orange: #da6f39;
  --darkgrey: #1e1e1e;
  --lightgrey: #686869;
  --headerbg: #a9b2bb;
  color-scheme: light dark;
  --bodybg: light-dark(#ebebeb, #262626);
  --textcolor: light-dark(#2a2a2a, #b6b6b6);
  --linkcolor: light-dark(#2e41b8, #606fcb);
}

/* === GLOBAL === */

body {
  background-color: var(--bodybg);
  color: var(--textcolor);
  margin: 0;
  font-family: "Raleway", "Lato", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--lightgrey), 0 0 10px var(--lightgrey);
}

a:link {
  color: var(--linkcolor);
  text-decoration: none;
}
a:visited {
  color: var(--linkcolor);
  text-decoration: none;
}
a:hover {
  color: var(--linkhovercolor);
  text-decoration: none;
}
a:active {
  color: var(--linkcolor);
  text-decoration: none;
}

/* === GENERAL === */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.active {
  background-color: var(--orange) !important;
}

/* === DESKTOP NAVIGATION === */

.header-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: var(--headerbg);
  font-family: "Consolas", "Courier New", "monospace";
  font-weight: bold;
  font-size: 1rem;
}

.header-nav a {
  display: inline-block;
}

.header-nav a > img {
  height: 30px;
  width: auto;
  float: left;
  margin-top: 0.6rem;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

.header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 0.4rem 0 0.4rem;
}

.header-nav ul > li > a {
  display: inline-block;
  margin-top: 0.8rem;
}

.header-nav ul > li > a:link {
  color: var(--blue);
  text-decoration: none;
}
.header-nav ul > li > a:visited {
  color: var(--blue);
  text-decoration: none;
}
.header-nav ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.header-nav ul > li > a:active {
  color: var(--lightgrey);
  text-decoration: none;
}

.header-nav .col-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.header-nav .container,
.header-nav .row,
.header-nav .col-6 {
  height: 100%;
}

/* === MOBILE NAVIGATION === */

.mobile-nav-button {
  color: var(--darkgrey);
  float: right;
  font-size: 2.2rem;
  border: 2px solid var(--darkgrey);
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: 6px;
  margin-bottom: 7px;
}

.mobile-nav-button > img {
  position: absolute;
  bottom: 8px;
  left: 7px;
}

.mobile-nav-content > ul > li {
  display: block;
  background-color: var(--headerbg);
  height: 2rem;
  line-height: 0.4rem;
  padding: 0 1.2rem;
  text-align: center;
}

.mobile-nav-dropdown {
  position: relative;
  float: right;
}

.mobile-nav-content {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
}

.mobile-nav-dropdown:hover > .mobile-nav-content {
  display: block;
}

@media only screen and (min-width: 480px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .desktop-nav {
    display: none;
  }
}

/* === HEADER BANNER === */

.header-banner {
  margin-top: 50px;
  width: 100%;
  height: 0;
  padding-top: calc(100% / 1920 * 400);
  background: url("../media/Elektroptiker_bg.png");
  background-size: contain;
}
.header-banner-small {
  margin-top: 50px;
  width: 100%;
  height: 0;
  padding-top: calc(100% / 1920 * 300);
  background: url("../media/Elektroptiker_bg_small.png");
  background-size: contain;
}

/* === FOOTER === */

#spacer {
  display: block;
  clear: both;
  height: 40px;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: var(--headerbg);
  height: 40px;
  color: var(--darkgrey);
  font-size: 0.8rem;
}

#footer-nav {
  display: block;
  float: right;
}

#footer-nav a {
  text-decoration: none;
  color: var(--darkgrey);
}

#footer-nav a:hover {
  color: var(--linkhovercolor);
}

@media only screen and (max-width: 285px) {
  #footer span {
    display: none;
  }
}

/* === GRID SYSTEM === */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col"] {
  /* selects all class "col-*" */
  float: left;
  min-height: 1px;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.667%;
}

.col-6 {
  width: 100%;
}

/* 

=== IMPORTANT BREAKPOINTS ===
320   px  iPhone portrait
480   px  iPhone landscape
768   px  iPad portrait
1024  px  iPad landscape
1200  px  laptop
>1200 px  large screens

Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

*/

@media only screen and (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}

@media only screen and (max-width: 915px) {
  .col-4 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
}

/* === HOME PAGE === */

#about-box img {
  float: left;
  width: 40%;
  max-width: 300px;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-box h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

#cv-box {
  color: var(--bodybg);
  background-color: var(--lightgrey);
  margin-top: 1rem;
  padding: 0.5rem 1rem 1rem;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#cv-box h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media only screen and (max-width: 915px) {
  #about-box {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #cv-box {
    display: block;
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  #about-box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* === PROJECTS PAGE === */

#flex-row > [class*="col"] {
  flex: 1;
}

.intro-container {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.intro-container > h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.intro-container > p {
  font-size: 1.2rem;
}

.project-box {
  color: var(--bodybg);
  background-color: var(--lightgrey);
  padding: 1rem 3rem 2.5rem;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-box > p > a {
  color: var(--blue);
}
.project-box > p > a:hover {
  color: var(--linkhovercolor);
}

.project-box > a {
  height: 2.5rem;
  border: 2px solid var(--bodybg);
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.project-box > a:link {
  color: var(--bodybg);
  text-decoration: none;
}
.project-box > a:visited {
  color: var(--bodybg);
  text-decoration: none;
}
.project-box > a:active {
  color: var(--bodybg);
  text-decoration: none;
}
.project-box > a:hover {
  border: 2px solid var(--linkhovercolor);
  color: var(--linkhovercolor);
  text-decoration: none;
}
.project-box > div > video {
  /* border-radius: 50%; */
  width: 50%;
  height: auto;
  float: right;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.project-box::after {
  content: "";
  clear: both;
  display: block;
}

@media only screen and (min-width: 768px) {
  #flex-row {
    display: flex;
  }
  #projects .row > .col-3:nth-of-type(even) > .project-box {
    margin-left: 1rem;
    margin-right: auto;
  }
  #projects .row > .col-3:nth-of-type(odd) > .project-box {
    margin-left: auto;
    margin-right: 1rem;
  }
}

/* === LEGAL PAGE === */
#legal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#legal h1 {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
#legal h2 {
  font-size: 1.2rem;
}
#legal p {
  font-size: 1rem;
}
